<html>
<head>
	<title></title>
</head>
<body>
	<h2 class='User_Header'>
		<%=@profile.username.capitalize%>'s Profile 
	</h2>
	<div>
		Email: <%= @profile.email %><br>
		First Name:<%= @profile.first_name %><br>
		Last Name:<%= @profile.last_name %><br>
		Address1:<%= @profile.address1 %><br>
		Address2:<%= @profile.address2 %><br>
		City:<%= @profile.city %><br>
		State:<%= @profile.state %><br>
		Zip:<%= @profile.zip %><br>
		Phone:<%= @profile.phone %><br>
		Email:<%= @profile.email %><br>
		Website:<%= @profile.website %><br>
		Description:<%= @profile.description %><br>
		Created_at:<%= @profile.created_at %><br>
	</div>
	<div>
		<h1>
			<%= link_to "My Information", :profile%>
		</h1>
	</div>
	<br>
	<br>
	<p style=color: blue><%= params %></p>
</body>
</html>