<h1>Welcome to the Wine Blog</h1>

<%= link_to "Login", :login %>
<%= link_to "Logout", :logout %>
<%= link_to "Sign Up", :signup %>
<br>

<% @posts.each do |post| %>
<p>
  <h2><%= link_to post.title, post %></h2>
</p>
<p>
  <%= simple_format post.text %>
</p>
<p><%= time_ago_in_words post.created_at %> ago </p>
<p>
	<% delete_num = "delete #{post.id}" %>
	<% edit_num = "edit #{post.id}" %>
	<%= link_to "Edit", edit_post_path(post), :id => edit_num %> |
	<%= link_to "Delete", post, :id => delete_num, :method => :delete, data:{confirm: "Are you sure?"}%>
</p>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
