<html>
<head>
	<title></title>
</head>
<body>
	<h1>
		Welcome to the Wine Blog
	</h1>
	<% if session[:user_id] %>
	<%= link_to "Logout", :logout %>  
	<% end %>
	<% if !session[:user_id] %>
	<%= link_to "Login", :login %> |	
	<%= link_to "Sign Up", :signup %>		
	<%end%>
	<br>
				<br>

				<% @posts.each do |post| %> 
				<% post_num = "post #{post.id}" %> 
				<% delete_num = "delete #{post.id}" %> 
				<% edit_num = "edit #{post.id}" %>
				<h2>
					<%= link_to post.title, post, :id => post_num %>
				</h2> <% if post.tag_list.any? %>
				<b>Tags:</b>
				<em>
					<%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
				</em>
					<% end %>
				<p>
					<%= simple_format post.text %>
				</p>
				<p>
					Created <%= time_ago_in_words post.created_at %> ago
				</p>
				<p>
					<%= link_to "Edit", edit_post_path(post), :id => edit_num %> | <%= link_to "Delete", post, :id => delete_num, :method => :delete, data:{confirm: "Are you sure?"}%><br>
					<br>
					<% end %><br>
					<%= link_to 'New Post', new_post_path %> |
					<%= link_to 'New Wine', new_wine_path%> |
					<%= link_to 'Catalog', wines_path%>
					<br>
					<br>
				</p>
				<h3 style="color: blue">
					<em>Tag Cloud</em>		
				</h3>
				<div id="tag_cloud">
					<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %> | <%= link_to tag.name, tag_path(tag.name), class: css_class %>
					<% end %>
				</div>
			</body>
			</html>