<h1><%= @post.title %></h1>

<em>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></em>
<br>
<br>
<%= @post.text %>


<h2>Comments</h2>

<% @post.comments.each do |comment| %>
<p><%= comment.text %></p>
<p><%= time_ago_in_words comment.created_at %> ago</p>
<p>
<%= link_to "delete comment", [@post, comment], :method => :delete, data: {confirm: "Are you sure?"} %>
</p>
<% end %>


<%= form_for [@post, @post.comments.build] do |f| %>
<p><%= f.text_area :text, :size => '40x5'%></p>
<p><%= f.submit "Post Comment"%></p>
<% end %>
<p>
	<%= link_to "Back", posts_path %> 
</p>

