<h1>Wine Catalog</h1>
<br>
<%= link_to "make another", new_wine_path%>

<% @winelist.each do |wine| %>
<div>
<br>
<h3><%= link_to wine.name, wine %></h3>
<% if wine.description %>
<div id="wine_desc">" <%= wine.description %> "</div>
<% end %>
</div>
<%= link_to "Edit", edit_wine_path(wine) %> | <%= link_to "Delete", wine, :method => :delete, data:{confirm: "Are you sure?"}%>
<br>
<% #the wine in the link_to gives the href a link to then give us params necessary to identify that particular object %>
<br>

<% end %>

